RewriteEngine On
RewriteCond %{HTTP_HOST} ^estudiosnyx.com [NC]
RewriteCond %{HTTP_HOST} ^www.estudiosnyx.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.estudiosnyx.com/$1 [R,L]